/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
 */
:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  height: 4rem;
  background-color: #010536;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 1rem 0;
  }
}
.header .a img {
  width: 14rem;
}
.header .button {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .header .button {
    display: block;
  }
}
.header .svg {
  width: 2em;
  height: 2em;
  fill: white;
}
@media screen and (max-width: 480px) {
  .header .nav {
    width: 100%;
    opacity: 0;
    height: 0vh;
    pointer-events: none;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav.activo {
    background-color: #010536;
    z-index: 1000;
    opacity: 1;
    height: 50vh;
    pointer-events: auto;
  }
}
.header .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .header .ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header .li {
  margin: 0 0.5em;
}
@media screen and (max-width: 480px) {
  .header .li {
    margin: 1em 0;
  }
}
.header .li a {
  padding: 10px;
  border-radius: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header .li a.NavActivo {
  background-color: #FFFF00;
  border-radius: 25px;
  color: #010536;
}
.header .li a:hover {
  background-color: #FFFF00;
  color: #010536;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

main {
  /* PARA QUE SIRVE */
  /* PRODUCTOS */
  /* CONTACTO */
}
main .sectS {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .sectS .contS {
  padding: 2rem;
  background-color: #010536;
  text-align: center;
  border-radius: 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .sectS .contS .slogan:nth-child(1) {
  font-size: 40px;
  margin-bottom: 10px;
}
main .sectS .contS .slogan:nth-last-child(1) {
  font-size: 30px;
  margin-top: 10px;
}
main .sectP {
  background-color: #010536;
}
main .sectP .destacado {
  padding: 1.5rem 0 0 0;
  text-align: center;
  color: white;
  font-size: 30px;
}
main .sectP .cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
}
main .sectP .cardsContainer button a {
  border-radius: 50px;
  padding: 1rem;
  background-color: #FFFF00;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
main .sectP .cardsContainer button a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
main .sectP .cardsContainer .card {
  padding: 20px;
  width: 25%;
  height: 90%;
  background-color: #FFFF00;
}
main .sectP .cardsContainer .card img {
  width: 100%;
  margin-bottom: 20px;
}
main .sectP .cardsContainer .card .cardText {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-align: center;
}
main .sectP .cardsContainer .card .cardText .name {
  font-size: 20px;
  font-weight: bold;
}
main .sectP .cardsContainer .card .cardText .desc {
  width: 100%;
}
main .sectC {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .sectC .aviso {
  font-size: 24px;
}
main .sectC .btnContacto a {
  color: #FFFF00;
  background-color: #010536;
  padding: 16px;
  border-radius: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
main .sectC .btnContacto a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media screen and (max-width: 480px) {
  main .sectS .contS {
    width: 80%;
  }
  main .sectS .contS .slogan:nth-child(1) {
    font-size: 25px;
  }
  main .sectS .contS .slogan:nth-last-child(1) {
    font-size: 20px;
  }
  main .sectP .destacado {
    font-size: 25px;
  }
  main .sectP .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  main .sectP .cardsContainer .card {
    margin: 1.5rem 0;
    width: 90%;
  }
  main .sectC {
    height: auto;
  }
  main .sectC .aviso {
    font-size: 18px;
    text-align: center;
    padding: 1rem 0;
  }
  main .sectC .btnContacto {
    margin-bottom: 1rem;
  }
}
main .uso {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .uso img {
  width: 30%;
  height: 80%;
  background-color: #969696;
}
main .uso:nth-child(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .uso:nth-child(2) {
  background-color: #010536;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
main .uso:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
main .uso:nth-child(4) {
  background-color: #010536;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
main .usoText {
  text-align: justify;
  padding: 2rem;
  border-radius: 25px;
  width: 40%;
  background-color: #010536;
  color: #ffffff;
  line-height: 2;
}
main .masUsos {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .masUsos p {
  padding: 1rem 0.1rem 1rem 1rem;
  background-color: #010536;
  color: #ffffff;
  border-radius: 25px 0 0 25px;
}
main .masUsos button a {
  border-radius: 0 25px 25px 0;
  background-color: #FFFF00;
  padding: 1rem 0.1rem;
}
main .masUsos button a:hover {
  -webkit-transform: scale(1.1) translateX(5px);
          transform: scale(1.1) translateX(5px);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
@media screen and (max-width: 480px) {
  main .uso {
    height: auto;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .uso img {
    width: 100%;
    height: auto;
    background-color: #969696;
    margin-bottom: 1rem;
  }
  main .uso:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .uso:nth-child(2) {
    background-color: #010536;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .uso:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .uso:nth-child(4) {
    background-color: #010536;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .usoText {
    width: auto;
    padding: 1rem;
  }
  main .masUsos {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
  }
  main .masUsos p {
    border-radius: 25px;
    padding: 1rem;
  }
  main .masUsos button a {
    padding: 1rem;
    border-radius: 25px;
  }
}
main .prods {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 30px;
}
main .prodSection {
  background-color: #010536;
  margin: 1.5rem 5rem 5rem 5rem;
  padding: 1.35rem;
}
main .prodSection h2 {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  text-align: center;
  background-color: #FFFF00;
  padding: 1.5rem;
  border-radius: 25px;
}
main .prodSection .prodContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
main .prodSection .prodContainer .prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 25px;
  border: 5px solid #ffffff;
  width: 20%;
  height: 25rem;
}
main .prodSection .prodContainer .prod img {
  border-radius: 25px 25px 0 0;
  height: 60%;
}
main .prodSection .prodContainer .prod .infoContain {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .prodSection .prodContainer .prod .infoContain .largo, main .prodSection .prodContainer .prod .infoContain .peso {
  background-color: #010536;
  border-radius: 25px;
  color: #ffffff;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  main .prods {
    font-size: 24px;
  }
  main .prodSection {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
  }
  main .prodSection .prodContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .prodSection .prodContainer .prod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
}
main .contactoContainer {
  height: calc(100vh - 14rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .contactoContainer .contactoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #010536;
  height: 60%;
  width: 50%;
  color: white;
}
main .contactoContainer .contactoBox h2 {
  font-size: 38px;
  font-weight: bold;
}
main .contactoContainer .contactoBox p {
  font-size: 20px;
}
main .contactoContainer .contactoBox .metodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .contactoContainer .contactoBox .metodos a {
  margin: 0 1em;
}
main .contactoContainer .contactoBox .metodos a svg {
  width: 2em;
  fill: white;
}
@media screen and (max-width: 480px) {
  main .contactoContainer {
    height: 80vh;
    padding: 1rem 0;
  }
  main .contactoContainer .contactoBox {
    padding: 1rem;
    text-align: center;
    width: 90%;
  }
  main .contactoContainer .contactoBox h2 {
    font-size: 32px;
  }
  main .contactoContainer .contactoBox p {
    font-size: 18px;
  }
}

footer {
  height: 10rem;
  background-color: #010536;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerP {
  color: white;
  text-align: center;
  padding: 1rem;
}
footer .redes {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .redes a {
  margin: 0 1rem;
}
footer .redes a svg {
  height: 1.7em;
  fill: white;
}

body .wave1 {
  position: absolute;
  width: 85%;
  right: 52rem;
  z-index: -90;
}
body .wave2 {
  position: absolute;
  top: 4rem;
  z-index: -100;
}
body .wave3 {
  position: absolute;
  width: 50%;
  left: 67.6rem;
  z-index: -110;
}
body .wave4 {
  position: absolute;
  bottom: 4rem;
  z-index: -120;
}