main {
  .sectS {
    margin: 2rem 0;

    @include flex(row, nowrap, center, center);

    .contS {
      padding: 2rem;
      background-color: #010536;
      text-align: center;
      border-radius: 25px;
      color: white;

      @include flex(column, nowrap, center, center);

      .slogan:nth-child(1) {
        font-size: 40px;
        margin-bottom: 10px;
      }
      .slogan:nth-last-child(1) {
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }

  .sectP {
    background-color: #010536;

    .destacado {
        padding: 1.5rem 0 0 0;
        text-align: center;
        color: white;
        font-size: 30px;
    }

    .cardsContainer {
      @include flex(row, nowrap, space-evenly, center);
      height: 55vh;

      button{
        font-size: 16px;
        border: none;
        background: none;

        a{
          border-radius: 50px;
          padding: 1rem;
          background-color: #FFFF00;
          transition: all .2s;

          &:hover{
            transform: scale(1.2);
            transition: all .2s;
          }
        }
      }

      .card {
        padding: 20px;
        width: 25%;
        height: 90%;
        background-color: #FFFF00;

        img{
            width: 100%;
            margin-bottom: 20px;
        }
        .cardText {
          height: 20%;
          @include flex(column, nowrap, space-evenly, center);
          color: black;
          text-align: center;
          
          .name{
            font-size: 20px;
            font-weight: bold;
          }
          .desc{
            width: 100%;
          }
        }
      }
    }
  }

  .sectC{
    height: 15vh;
    @include flex(column, nowrap,space-evenly,center);

    .aviso{
        font-size: 24px;
    }

    .btnContacto{
      font-size: 16px;
        border: none;
        background: none;
        a{
            color: #FFFF00;
            background-color: #010536;
            padding: 16px;
            border-radius: 25px;
            transition: all .2s;

            &:hover{
              transform: scale(1.1);
              transition: all .2s;
            }
        }
    }
  } 


  @include media (){
    .sectS{

      .contS{
        width: 80%;

        .slogan:nth-child(1) {
          font-size: 25px;

        }
        .slogan:nth-last-child(1) {
          font-size: 20px;

        }
      }
    }

    .sectP{

      .destacado{
        font-size: 25px;
      }

      .cardsContainer{
        @include flex(column, nowrap, space-evenly, center);
        height: auto;

        .card{
          margin: 1.5rem 0;
          width: 90%;
        }
      }
    }

    .sectC{
      height: auto;
      .aviso{
        font-size: 18px;
        text-align: center;
        padding: 1rem 0;
      }

      .btnContacto{
        margin-bottom: 1rem;
      }
    }
  }



    /* PARA QUE SIRVE */
    
  .uso{
    height: 40vh;
    @include flex(row, nowrap,space-evenly, center);
    
    img{
      width: 30%;
      height: 80%;
      background-color: #969696;
    }

    &:nth-child(1){
      flex-direction: row;
    }
    &:nth-child(2){
      background-color: #010536;
      flex-direction: row-reverse;
    }
    &:nth-child(3){
      flex-direction: row;
    }
    &:nth-child(4){
      background-color: #010536;
      flex-direction: row-reverse;
    }
  }

  .usoText{
    text-align: justify;
    padding: 2rem;
    border-radius: 25px;
    width: 40%;
    background-color: #010536;
    color: #ffffff;
    line-height: 2;
  }

  .masUsos{
    padding: 2rem;
    @include flex(row, nowrap,center, center);

    p{
      padding: 1rem .1rem 1rem 1rem;
      background-color: #010536;
      color: #ffffff;
      border-radius: 25px 0 0 25px;
    }
    
    button{
      border: none;
      background: none;
      a{
        font-size: 16px;
        border-radius: 0 25px 25px 0;
        background-color: #FFFF00;
        padding: 1rem .1rem;
        
        &:hover{
          transform: scale(1.1) translateX(5px);
          transition: all .1s;
        }
      }
    }
  }


@include media(){
  .uso{
    height: auto;
    padding: 2rem;
    @include flex(column, nowrap,space-evenly, center);
    
    img{
      width: 100%;
      height: auto;
      background-color: #969696;
      margin-bottom: 1rem;
    }

    &:nth-child(1){
      flex-direction: column;
    }
    &:nth-child(2){
      background-color: #010536;
      flex-direction: column;
    }
    &:nth-child(3){
      flex-direction: column;
    }
    &:nth-child(4){
      background-color: #010536;
      flex-direction: column;
    }
  }

  .usoText{
    width: auto;
    padding: 1rem;
  }

  .masUsos{
    padding: 1rem;
    @include flex(column, nowrap,center, center);
    text-align: justify;

    p{
      border-radius: 25px;
      padding: 1rem;
    }

    button{
      a{
        padding: 1rem;
        border-radius: 25px;
      }
    }
  }
}



  /* PRODUCTOS */

  .prods{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 30px;
  }

  .prodSection{
    background-color: #010536;
    margin: 1.5rem 5rem 5rem 5rem;
    padding: 1.35rem;

    h2{
      margin: auto;
      width: max-content;
      font-size: 24px;
      text-align: center;
      background-color: #FFFF00;
      padding: 1.5rem;
      border-radius: 25px
    }

    .prodContainer{
      @include flex(row, wrap, space-evenly, center);
      padding: 1rem 0;

      .prod{
        @include flex(column, wrap, space-between, center);
        background-color: white;
        border-radius: 25px;
        border: 5px solid #ffffff;
        width: 20%;
        height: 25rem;

        img{
          border-radius: 25px 25px 0 0;
          height: 60%;
        }

        .infoContain{
          height: 40%;
          @include flex(row, nowrap, center, center);

          .largo, .peso{
            background-color: #010536;
            border-radius: 25px;
            color: #ffffff;
            margin: 1rem;
            padding: 2rem;
            text-align: center;
          }
        }
      }
    }
  }


  @include media(){
    .prods{
      font-size: 24px;
    }

    .prodSection{
      width: 90%;
      margin: 1rem auto;
      padding: 1rem;

      .prodContainer{
        @include flex(column, wrap, space-evenly, center);

        .prod{
          @include flex(column, nowrap, space-between, center);
          width: 100%;
          margin-bottom: 2rem;
        }
      }
    }
  }



    /* CONTACTO */

    .contactoContainer{
      height: calc(100vh - 14rem);
      @include flex(row, nowrap,center,center);
  
      .contactoBox{
        @include flex(column,nowrap,space-evenly,center);
        background-color: #010536;
        height: 60%;
        width: 50%;
        color: white;
  
        h2{
          font-size: 38px;
          font-weight: bold;
        }
  
        p{
          font-size: 20px
        };
  
        .metodos{
          @include flex(row, nowrap, space-evenly, center);
  
          a{
            margin: 0 1em;
            svg{
              width: 2em;
              fill: white;
            }
          }
        }
      }
    }
  

  @include media(){
    .contactoContainer{
      height: 80vh;
      padding: 1rem 0;

      .contactoBox{
        padding: 1rem;
        text-align: center;
        width: 90%;

        h2{
          font-size: 32px;
        }
        
        p{
          font-size: 18px;
        }
      }
    }
  }
}